{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login ou Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body class="back-ground-login">
    <a href="{% url 'Home:index' %}" class="login-brand">
        <img src="{% static 'img/logoTranscendencenew.png' %}" alt="Logo" class="img-login-register">
    </a>
    <div class="padding-global">
        <div class="center-container">
            <div class="login-container">
                <h1 class="gradient-text">Inscription</h1>
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div>
                            {{ field.label_tag }} {{ field }}
                            {{ field.errors }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Je m'inscris" class="login-btn">
                </form>
                <div>
                    <small>
                        <a href="{% url 'accounts:login_user' %}" class="create-account-link">
                            Se connecter
                        </a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</body>