.custom-nav {
    /* background: red !important; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.sidebar {
    background-color: #252529;
    /* Dark background for the sidebar */
    color: white;
    padding: 1rem;
}

.sidebar h2 {
    margin-bottom: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.sidebar .btn-primary {
    background-color: #B558F6;
    border: none;
}

/* .custom-nav a {
    color: white;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
} */

/* .custom-nav a.active {
    background-color: #6c757d;
}

.custom-nav a:hover {
    color: #B558F6;
} */

.main-content {
    background-color: #f8f9fa;
    /* Light background for the main content */
    padding: 1rem;
}

/* remove hover*/
button.btn-primary:hover {
    background-color: #B558F6;
    color: white;
    border-color: white;
}

.violet-border {
    border-color: #B558F6 !important;
    font-size: 1rem !important;
}

.sidebar .custom-button-large-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1.2rem;
}

.sidebar .logout-large-text {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

#app {
    display: flex;
} 

/* --------------- */

.sidebar {
    
  background-color:#252529;
  color: #FFFFFF;
  height: 100vh;
  width: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-right: 2px solid #B558F6;
  }
  
  .logo {
  max-width: 100%;
  height: auto;
  margin-bottom: 2rem;
  }

  .start-game {
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    border: 2px solid #B558F6;
    /* border-radius: 5px; */
    margin-bottom: 2rem;
    font-size: 1.25rem;
    text-align: center;
  }

  .start-game:hover{
    background: #B558F6;
    color: white;
  }
  
  .nav {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }
  
  .nav-item {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 1rem;
  transition: background-color 0.3s, color 0.3s;
  }
  
  .nav-item:hover,
  .nav-item.active {
  background-color: #B558F6;
  }
  
  .logout {
  padding: 10px 20px;
  border-top: 1px solid #B558F6; /* Adjust the color to match your design */
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  }
  
  .logout:hover {
  background-color: #B558F6; /* Adjust the hover color */
  }
  
  .custom-nav a {
    color: white;
    margin-bottom: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 1rem;
}

.custom-nav a.active {
    background-color: #B558F6;
}

.custom-nav .nav-item i {
    margin-right: 0.5rem;
}  