<!-- templates/friend_requests.html -->

{% extends 'base.html' %}  <!-- Assurez-vous d'étendre votre base layout si vous en avez un -->

{% block content %}
<h2>Demandes d'amis</h2>

<!-- Liste des demandes d'amis reçues -->
<div>
    <h3>Demandes reçues</h3>
    {% for friend_request in received_friend_requests %}
        <div>
            <p>Demande de: {{ friend_request.from_user.username }}</p>
            <a href="{% url 'accept_friend_request' friend_request.id %}" class="button">Accepter</a>
            <a href="{% url 'decline_friend_request' friend_request.id %}" class="button">Refuser</a>
        </div>
    {% endfor %}
</div>

<!-- Liste des utilisateurs auxquels vous pouvez envoyer une demande d'ami -->
<div>
    <h3>Envoyer une demande d'ami</h3>
    {% for user in users %}
        <!-- N'affichez pas l'utilisateur actuel dans la liste -->
        {% if user != request.user %}
            <div>
                <p>{{ user.username }}</p>
                <a href="{% url 'send_friend_request' user.id %}" class="button">Envoyer demande</a>
            </div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
