.gameDialog {
  position: fixed;
  inset: 0;
  z-index: 1000;
  overflow: auto;
  background: rgba(var(--bs-body-bg-rgb), 0.5);
  font-size: min(2vh, 1.75vw, 2rem);

  &:has(.gameDialog-players:not([hidden])) {
    background-color: var(--bs-body-bg);
    background-image: // bicolor halo from top
      radial-gradient(circle at 50% 0%, rgba(var(--bs-body-bg-rgb), 0) 0%, rgba(var(--bs-body-bg-rgb), 1) 100%),
      linear-gradient(to right, rgba(var(--bs-primary-rgb), 0.2) 0%, rgba(var(--bs-secondary-rgb), 0.2) 100%);
  }

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5em;

  &-players {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    padding-top: 2em;

    @include media-breakpoint-down(lg) {
      font-size: 0.75rem;
    }

    &-separator {
      flex: 0 0 auto;
      font-family: Orbitron, sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.5em;
      margin: -1em 2em 0;
    }

    &:has([winner]) .gameDialog-player:not([winner]) {
      font-size: 0.75em;
    }
  }

  &-player.is-left[winner] {
    margin-left: -3.75em;
  }

  &-player.is-right[winner] {
    margin-right: -3.75em;
  }

  &-wrapper {
    flex: 0 0 auto;
    background: #000;
    background-image: linear-gradient(
      to right,
      rgba(var(--bs-primary-rgb), 0.5) 0%,
      rgba(var(--bs-secondary-rgb), 0.5) 100%
    );
    border: 1px solid var(--bs-body-color);
    border-width: 2px 0;

    display: flex;
    justify-content: center;
  }

  &-content {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  &-title {
    font-weight: bold;
    font-size: 2.25em;
    text-transform: uppercase;
    font-family: Orbitron, sans-serif;
    color: white;
  }

  &-controls {
    display: flex;
    align-items: center;
    gap: 2em;

    @include media-breakpoint-down(lg) {
      font-size: 0.675rem;
    }
  }

  &-btn {
    width: 2em;
    height: 2em;
    border-radius: 100%;
    outline: none !important;
    border: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    background-color: white;
    color: black;
    cursor: pointer;
    opacity: 0.75;
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 1;
    }

    &.is-lg {
      font-size: 2em;
    }
  }

  &-nav {
    position: fixed;
    inset: 0 0 auto;
    display: flex;
    font-size: 0.5em;
    gap: 1.5em;
    margin: 2.5em;

    @include media-breakpoint-down(lg) {
      font-size: 0.375rem;
    }

    &-item {
      flex: 0 0 auto;

      background: none;
      border: none;
      outline: none;

      position: relative;

      font-size: 3.5em;
      width: 1.5em;
      height: 1.5em;
      display: flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;

      opacity: 0.75;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    &-spacer {
      margin: 0 auto;
    }
  }
}
