*,
*::before,
*::after {
  box-sizing: border-box;
}

.play-now-btn {
  background-color: black; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement interne */
  border: 2px solid white; /* Bordure blanche*/
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
  font-weight: bold; /* Police en gras */
  text-transform: uppercase; /* Texte en majuscules */
  cursor: pointer; /* Curseur en forme de pointeur */
  transition: background-color 0.3s, color 0.3s; /* Animation de transition */
  text-decoration: none; /* Aucune décoration de texte */
  display: inline-block; /*Permet au bouton de ne prendre que l'espace nécessaire */
  margin-top: 1rem;
}

.white-mode .play-now-btn {
  background-color: rgb(255, 255, 255); /* Couleur de fond */
  color: rgb(0, 0, 0); /* Couleur du texte */
  border: 2px solid rgb(0, 0, 0); /* Bordure blanche*/
}

.play-now-btn:hover, .play-now-btn:focus {
  background-color: white; /* Couleur de fond lors du survol */
  color: black; /* Couleur du texte lors du survol */
  text-decoration: none; /* Aucune décoration de texte lors du survol */
}

.white-mode .play-now-btn:hover, .play-now-btn:focus {
  background-color: rgb(0, 0, 0); /* Couleur de fond lors du survol */
  color: rgb(255, 255, 255); /* Couleur du texte lors du survol */
}