*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
  background-color: #000000;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.white-mode {
  background-color: whitesmoke;
}

H1{
  /* margin-top: 15%; */
  /* text-align: center; */
  color: white;
}

.white-mode H1{
  /* margin-top: 15%; */
  /* text-align: center; */
  color: rgb(0, 0, 0);
}

.play-now-btn {
  background-color: black; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 10px 20px; /* Espacement interne */
  border: 2px solid white; /* Bordure blanche*/
  border-radius: 5px; /* Coins arrondis */
  font-size: 16px; /* Taille de la police */
  font-weight: bold; /* Police en gras */
  text-transform: uppercase; /* Texte en majuscules */
  cursor: pointer; /* Curseur en forme de pointeur */
  transition: background-color 0.3s, color 0.3s; /* Animation de transition */
  text-decoration: none; /* Aucune décoration de texte */
  display: inline-block; /* Permet au bouton de ne prendre que l'espace nécessaire */
}

.white-mode .play-now-btn {
  background-color: rgb(255, 255, 255); /* Couleur de fond */
  color: rgb(0, 0, 0); /* Couleur du texte */
  border: 2px solid rgb(0, 0, 0); /* Bordure blanche*/
}

.play-now-btn:hover, .play-now-btn:focus {
  background-color: white; /* Couleur de fond lors du survol */
  color: black; /* Couleur du texte lors du survol */
  text-decoration: none; /* Aucune décoration de texte lors du survol */
}

.white-mode .play-now-btn:hover, .play-now-btn:focus {
  background-color: rgb(0, 0, 0); /* Couleur de fond lors du survol */
  color: rgb(255, 255, 255); /* Couleur du texte lors du survol */
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  /* height: 20vh; Utiliser toute la hauteur de la fenêtre */
}

.gradient-text {
  font-size: 50px;
  background: -webkit-linear-gradient(315deg,#B558F6 ,#0EA3D2);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.margin_top{
  margin-top: 5%;
}

.play-now-btn_play{
  background-color: black; /* Couleur de fond */
  color: white; /* Couleur du texte */
  padding: 15px 70px; /* Espacement interne */
  border: 4px solid white; /* Bordure blanche*/
  border-radius: 5px; /* Coins arrondis */
  font-size: 25px; /* Taille de la police */
  font-weight: bold; /* Police en gras */
  text-transform: uppercase; /* Texte en majuscules */
  cursor: pointer; /* Curseur en forme de pointeur */
  transition: background-color 0.3s, color 0.3s; /* Animation de transition */
  text-decoration: none; /* Aucune décoration de texte */
  display: inline-block; /* Permet au bouton de ne prendre que l'espace nécessaire */
}

.play-now-btn_play:hover, .play-now-btn_play:focus {
  background-color: white; /* Couleur de fond lors du survol */
  color: black; /* Couleur du texte lors du survol */
  text-decoration: none; /* Aucune décoration de texte lors du survol */
}

.white-mode .play-now-btn_play{
  background-color: rgb(255, 255, 255); /* Couleur de fond */
  color: rgb(0, 0, 0); /* Couleur du texte */
  border: 4px solid rgb(0, 0, 0); /* Bordure blanche*/
}

.white-mode .play-now-btn_play:hover, .play-now-btn_play:focus {
  background-color: rgb(0, 0, 0); /* Couleur de fond lors du survol */
  color: rgb(255, 255, 255); /* Couleur du texte lors du survol */
}

.navbar{
  display: flex;
  flex-direction: row;
  /* width: 100%; */
  align-items: center;
  /* justify-content: space-between; */
}

.margin_left{
  margin-left: 1rem;
}

.bottom_navbar{
  padding: 1px ;
  background-color: rgb(255, 255, 255);
}

.img-home {
  width : 67px;
  height : 45px;
}

.img-login-register{
  width : 67px;
  height : 45px;
  margin-top:  1rem;
}

.flex{
  display: flex;
  flex-direction: row;
  margin-right: 1%;
  align-items: center;
  margin-left: auto;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /* margin-left: 15%; */
}

/* Style pour l'input checkbox - sera caché */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Style pour le curseur / slider du switch */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #623cba;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Style pour le slider lorsque le switch est en position ON */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(0, 0, 0);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #ffffff;
}

input:focus + .slider {
  box-shadow: 0 0 1
px #2196F3;
}

/* Style pour le slider lorsque le switch est en position OFF */
input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Style arrondi pour le slider */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}

.padding-global{
  padding-bottom: 7rem;
  padding-top: 7rem;

  flex: 0 0 auto;
  margin: auto;
}

p{
  color: white;
}

.white-mode p {
  color: black;
}

.login-container {
  background-color: rgba(255, 255, 255, 0.17); /* Fond semi-transparent */
  border-radius: 20px;
  padding: 75px;
  width: 500px; /* ou la largeur que vous préférez */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2); /* Ombre portée légère */
  border: 4px solid rgb(255, 255, 255);
  backdrop-filter: blur(20px);
}

.login-btn {
  background-color: #B558F6; /* Couleur de votre choix */
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
  width: 100%; /* Pour étendre le bouton à toute la largeur du conteneur */
}

.login-btn:hover {
  background-color: #8a40bf; /* Couleur de votre choix */
}

.create-account-link {
  color: #B558F6;
  text-align: center;
  display: block; /* ou inline-block selon votre disposition */
  margin-top: 20px;
  text-decoration: none;
}

.create-account-link:hover {
  text-decoration: underline;
}

form p input[type='text'],
form p input[type='password'],
form p input[type='email'] {
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour les champs de saisie */
  border: 2px solid #555;
  color: white;
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}

input[type='text'],
input[type='password'],
input[type='email']{
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour les champs de saisie */
  border: 2px solid #555;
  color: white;
  padding: 12px;
  margin-bottom: 15px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
}

.back-ground-login{
  background-image: url('../img/wp8986551-dark-purple-4k-wallpapers.jpg');
  background-size: cover; /* Couvre toute la zone disponible */
  background-position: center; /* Centre l'image dans la page */
  background-repeat: no-repeat; /* N'autorise pas la répétition de l'image */

  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-brand{
  flex: 0 0 auto;
}

label {
  color: #FFF; /* Couleur de texte pour les étiquettes */
  /* autres propriétés de style */
}

.errorlist {
  color: #f00; /* Couleur de texte pour les messages d'erreur */
  font-size: 0.9em; /* Taille de la police pour les messages d'erreur */
  /* autres propriétés de style */
}