body {
    font-family: "Arial", sans-serif;
    background-color: #8d5fad;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
  
canvas-container {
    position: relative;
    border: 2px solid #fff;
    padding: 20px;
    text-align: center;
}
  
canvas {
    width: 100%;
    height: 100%;
    border: none;
}
  
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajuste la taille de l'image pour couvrir tout le canvas */
    z-index: 1;
}
  
span {
    color: #fff;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    font-family: "Arial", sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    z-index: 2; /* Place le texte au-dessus de l'image et du form*/
}

form {
    text-align: center;
    position: absolute;
    top: 60%; /* Positionne le haut du formulaire au milieu du canvas */
    left: 50%; /* Positionne la gauche du formulaire au milieu du canvas */
    transform: translate(-50%, -50%); /* Centre le formulaire exactement au milieu */
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}
  
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}
  
button {
    background-color: #a13052;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
  
button:hover {
    background-color: #5e1e33;
}
  