*,
*::before,
*::after {
  box-sizing: border-box;
}

.authLayout {
  height: 100vh;
  display: grid;
  justify-items: center;
  overflow: auto;
  background: var(--bs-tertiary-bg);

  &-wrapper {
    padding: 2rem;
    width: 100%;
    max-width: 520px;
  }

  /* tablet */
  @include media-breakpoint-up(md) {
    background: none;
    align-items: center;
    padding: 2rem;

    --halo-bicolor-bg-rgb: var(--bs-body-bg-rgb);

    background-color: rgba(var(--halo-bicolor-bg-rgb), 1);
    background-image: radial-gradient(
        circle at 50% 50%,
        rgba(var(--halo-bicolor-bg-rgb), 0) 0%,
        rgba(var(--halo-bicolor-bg-rgb), 1) 100%
      ),
      linear-gradient(to right, rgba(var(--bs-primary-rgb), 0.2) 0%, rgba(var(--bs-secondary-rgb), 0.2) 100%);
    background-attachment: fixed;

    &-wrapper {
      background: var(--bs-tertiary-bg);
      border: 2px solid var(--bs-gray-500);
      border-radius: 1.5rem;
    }
  }
}
