*,
*::before,
*::after {
  box-sizing: border-box;
}

.authLayout {
  height: 100vh;
  display: grid;
  justify-items: center;
  overflow: auto;
  background: var(--bs-tertiary-bg);

  &-wrapper {
    padding: 2rem;
    width: 100%;
    max-width: 520px;
  }

  /* tablet */
  @include media-breakpoint-up(md) {
    background: none;
    align-items: center;
    padding: 2rem;

    --halo-bicolor-bg-rgb: var(--bs-body-bg-rgb);

    background-color: rgba(var(--halo-bicolor-bg-rgb), 1);
    background-image: radial-gradient(
        circle at 50% 50%,
        rgba(var(--halo-bicolor-bg-rgb), 0) 0%,
        rgba(var(--halo-bicolor-bg-rgb), 1) 100%
      ),
      linear-gradient(to right, rgba(var(--bs-primary-rgb), 0.2) 0%, rgba(var(--bs-secondary-rgb), 0.2) 100%);
    background-attachment: fixed;

    &-wrapper {
      background: var(--bs-tertiary-bg);
      border: 2px solid var(--bs-gray-500);
      border-radius: 1.5rem;
    }
  }

  &.is-loading &-wrapper {
    position: relative;

    &-inner {
      * {
        pointer-events: none !important;
      }
      opacity: 0.25;
    }

    &::after {
      content: '';
      position: absolute;
      z-index: 1000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 2rem;
      height: 2rem;
      border-radius: 100%;
      border: 3px solid var(--bs-body-color);
      border-right-color: transparent;
      animation: 0.75s linear infinite loader-rotate;
    }
  }
}

@keyframes loader-rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
