{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>django auth</title>
</head>
<body>
  <div class="navbar">
    <img src="{% static 'img/logoTranscendencenew.png' %}" alt="Description de l'image" class="img-home">
    <div class="flex">
      <label class="switch">
        <input type="checkbox" id="toggle-example" onchange="toggleTheme()">
        <span class="slider round"></span>
      </label>
      {% if user.is_authenticated %}
      <p>{{ user.username }} | <a href="{% url 'accounts:logout_user' %}" class="play-now-btn">Deconnexion</a></p>
      {% else %}
        <p class="margin_left"><a href="{% url 'accounts:login_user' %}" class="play-now-btn">Connexion</a></p>
        <p class="margin_left"><a href="{% url 'accounts:register_user' %}" class="play-now-btn">Inscription</a></p>
      {% endif %}
      {% for messages in messages %}
      <p>{{ messages }}</p>
      {% endfor %}
    </div>
  </div>
  <div class="bottom_navbar"></div>
    <div class="padding-global">
      <div class="center-container">
        <h1 class="gradient-text">The Pong Game</h1>
        <div class="margin_top"></div>
        <form action="#">
          <button type="submit" class="play-now-btn_play">Play Now</button>
        </form>
      </div>
      <script src="{% static 'js/theme-toggle.js' %}"></script>
    </div>
</body>
</html>