<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>django auth</title>
</head>
<body>
  {% if user.is_authenticated %}
      <p>Connecte sous {{ user.username }} | <a href="{% url 'accounts:logout_user' %}">Deconnexion</a></p>
  {% else %}
      <p><a href="{% url 'accounts:login_user' %}">Connexion</a></p>
      <p><a href="{% url 'accounts:register_user' %}">Inscription</a></p>
  {% endif %}
  {% for messages in messages %}
    <p>{{ messages }}</p>
  {% endfor %}
  <h1>Exemple Account</h1>
  <p>{{ message }}</p>
</body>
</html>